-
    var data = {
        nav: [
            {
                title: 'О компании',
                icon: 'about',
                text: 'Компания КАМА Технологии основана в 2016 году. Основным направлением деятельности компании является разработка заказного программного обеспечения.'
            },
            {
                title: 'Команда',
                icon: 'team',
                text: 'В компании собрана высококвалифицированная команда, опыт работы которой на рынке информационных технологий составляет более 10 лет. Решениями, разработанными сотрудниками компании, пользуются в Банке России и крупных финансовых организациях.'
            },
            {
                title: 'Услуги',
                icon: 'services',
                text: 'Наши проектные менеджеры, аналитики и архитекторы готовы провести углубленный анализ ваших задач и бизнес-процессов и предложить наиболее подходящие решения и технологии, отвечающие вашим потребностям. Мы работаем в тесном контакте с нашими клиентами.'
            },
            {
                title: 'Решения',
                icon: 'solutions',
                text: 'Разработка информационных систем «под ключ» по вашему заказу. Мы автоматизируем сбор и консолидацию разнородных данных в едином хранилище, построим на их основе аналитику, визуализацию и управленческую отчетность, обеспечим доступ к информации через браузер и с мобильных устройств, оформим решение в вашем фирменном стиле.'
            }
        ]
    };