-
    var data = {
        nav: [
            {
                title: 'О компании',
                icon: 'about',
                text: 'Компания КАМА Технологии основана в 2016 году. Ключевым направлением деятельности является разработка заказного программного обеспечения.'
            },
            {
                title: 'Команда',
                icon: 'team',
                text: 'КАМА Технологии – это высококвалифицированная команда, опыт работы которой в сфере информационных технологий более 10 лет. Решения, разработанные нашей командой, используют в Банке России и крупных финансовых организациях.'
            },
            {
                title: 'Услуги',
                icon: 'services',
                text: 'Наши эксперты и аналитики помогут провести углубленный анализ Ваших бизнес-процессов и предложить эффективные решения, отвечающие Вашим потребностям. Мы ориентированы на качество и успех проекта, поэтому активно взаимодействуем с нашими клиентами в ходе его выполнения.'
            },
            {
                title: 'Решения',
                icon: 'solutions',
                text: 'Разработка информационных систем «под ключ»: сбор и консолидация разнородных данных в едином хранилище, построение аналитики, визуализация и управленческая отчетность, доступ к информации через браузер и с мобильных устройств, оформление решения в Вашем фирменном стиле.'
            }
        ]
    };